<%= link_to root_path, class: "flex items-center" do %>
  <%= render "layouts/application_logo_icon", class: local_assigns[:class] %> 
  <span class="ml-2 text-xl font-semibold text-foreground">Safe Pass</span>
<% end %>
