<%= link_to root_path, class: "flex items-center" do %>
  <%= render "layouts/application_logo_icon", class: local_assigns[:class] %> 
  <span class="ml-2 text-foreground <%= local_assigns[:span_class] || 'text-xl font-semibold' %>">Safe Pass</span>
<% end %>
