<% content_for :body do %>
  <div class="relative flex min-h-screen flex-col">
    <div class="absolute top-5 right-5">
      <%= render "layouts/dark_mode_toggle" %>
    </div>
    <div class="flex flex-col space-y-5 flex-1 items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
      <%= render "layouts/application_logo", class: "h-10 w-10" %> 
      <div class="w-full max-w-md">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
