<% content_for :body do %>
  <%#= render "layouts/tip" %>
  <%= render "layouts/navbar" %>
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
