<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
        <script src="https://unpkg.com/vue@3"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />

        <style>
            html,
            body {
                height: 100%;
            }

            body {
                display: grid;
                place-items: center;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <section v-show="inProgressAssignments.length">
                <h2>In Progress</h2>
                <ul>
                    <li v-for="assignment in inProgressAssignments" :key="assignment.id">
                        <label>
                            {{ assignment.label }}
                            <input type="checkbox" v-model="assignment.complete" />
                        </label>
                    </li>
                </ul>
            </section>

            <section v-show="completedAssignments.length">
                <h2>Completed</h2>
                <ul>
                    <li v-for="assignment in completedAssignments" :key="assignment.id">
                        <label>
                            {{ assignment.label }}
                            <input type="checkbox" v-model="assignment.complete" />
                        </label>
                    </li>
                </ul>
            </section>
        </div>

        <script>
            const app = {
                data() {
                    return {
                        assignments: [
                            {
                                id: 1,
                                label: 'Finish project',
                                complete: false,
                            },
                            {
                                id: 2,
                                label: 'Read Chapter 4',
                                complete: false,
                            },
                            {
                                id: 3,
                                label: 'Turn in Homework',
                                complete: false,
                            },
                        ],
                    };
                },
                computed: {
                    completedAssignments() {
                        return this.assignments.filter(a => a.complete);
                    },
                    inProgressAssignments() {
                        return this.assignments.filter(a => !a.complete);
                    },
                },
            };

            Vue.createApp(app).mount('#app');
        </script>
    </body>
</html>
