<% content_for :content do %>
  <div class="p-5 flex flex-col container mx-auto">
    <header>
      header
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      footer
    </footer>
  </div> 
<% end %>

<%= render template: "layouts/application" %>

